.sm{color: rgb(0, 162, 255);}
.red{color:white;
background-color: crimson;
border: 0px;
width: 70px;
}
.pic{width: 350px;}
.nm{width: 40%;
display: inline-block;
margin: 4%;}
.SO{text-align: center;}
.o{width: 25%;
margin: 3%;}
